<div class="container-production">
    <div class="production-title">
        <div class="title-icon ta-c"><img src="/images/production.png"></div>
    </div>
    <div class="production-catalogs">
        <div class="container">
            <ul class="nav nav-pills nav-tabs" role="tablist" id="production_catalogs">
                <% catalogs.forEach(function(catalog){ %>
                <li role="presentation" class="<%= catalogs.indexOf(catalog) === 0 ? 'active' : '' %>">
                    <a href="#catalog_<%= catalog.id %>" data-sci="<%= catalog.id %>"
                       role="tab" data-toggle="tab" data-show="0"><%= catalog.name %></a>
                </li>
                <% }); %>
            </ul>
            <div class="tab-content mt-40">
                <% catalogs.forEach(function(catalog){ %>
                <div role="tabpanel" class="tab-pane <%= catalogs.indexOf(catalog) === 0 ? 'active' : '' %>"
                     id="catalog_<%= catalog.id %>" data-sci="<%= catalog.id %>"></div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="production-content">
        <div class="col-lg-12" id="production_list"></div>
    </div>
</div>