<div class="app-container container">
    <div class="container-header"><h2><%= title %></h2></div>
    <div class="container-content">
        <div class="col-lg-12">
            <form class="form-horizontal" id="p_form">
                <input type="hidden" id="p_id" value="<%= detail?detail.id:'' %>">
                <div class="form-group">
                    <label for="p_name" class="col-lg-2 control-label">产品名称</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="p_name" placeholder="请您输入产品名称"
                               value="<%= detail ? detail.name : '' %>">
                    </div>
                    <div class="col-lg-4">
                        <span class="input-remark">* 产品名称</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_title" class="col-lg-2 control-label">产品标题</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="p_title" placeholder="请您输入产品标题"
                               value="<%= detail ? detail.title : '' %>">
                    </div>
                    <div class="col-lg-4">
                        <span class="input-remark">* </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_catalog_id" class="col-lg-2 control-label">产品分类</label>

                    <div class="col-lg-2">
                        <input type="hidden" id="p_catalog_id_val" value="<%= detail ? detail.catalog_id : '' %>">
                        <select class="form-control" id="p_catalog_id"></select>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <span class="input-remark">* </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_icon" class="col-lg-2 control-label">产品缩略图</label>

                    <div class="col-lg-3">
                        <input type="file" class="form-control" id="p_icon">
                        <input type="hidden" id="p_icon_val" value="0">
                    </div>
                    <div class="col-lg-4 col-lg-offset-3">
                        <span class="input-remark">* 用于显示在产品列表中的缩略图，强制重置为320*240的宽高</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_abstract" class="col-lg-2 control-label">产品摘要</label>

                    <div class="col-lg-6">
                        <textarea class="form-control" id="p_abstract"
                                  placeholder="请输入产品摘要"><%= detail ? detail.abstract : '' %></textarea>
                    </div>
                    <div class="col-lg-4">
                        <span class="input-remark">* 用于显示在产品列表中的简略说明</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_tags" class="col-lg-2 control-label">产品标签</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="p_tags" placeholder="请输入产品标签"
                               value="<%= detail ? detail.tags : '' %>">
                    </div>
                    <div class="col-lg-4">
                        <span class="input-remark">* </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_top" class="col-lg-2 control-label">是否置顶</label>

                    <div class="col-lg-6">
                        <input type="checkbox" id="p_top" <%= detail && detail.sequence === 0 ? 'checked' : '' %>>
                    </div>
                    <div class="col-lg-4">
                        <span class="input-remark">* </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p_editor" class="col-lg-2 control-label">产品详情</label>

                    <div class="col-lg-10">
                        <div id="p_editor"><%- detail ? detail.rich_text : '' %></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        <button id="p_reset" type="reset" class="btn btn-primary wi-10e">重置</button>
                        <button id="p_submit" type="button" class="btn btn-primary wi-10e ml-2e">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>