<ul class="nav-menu col-lg-12">
    <li class="menu-item col-lg-2">
        <a class="menu-link <%- active === 'home' ? 'active' : '' %>" href="/" target="_blank">
            <i class="glyphicon glyphicon-home"></i> 首页
        </a>
    </li>
    <li class="menu-item col-lg-2">
        <a class="menu-link <%- active === 'production' ? 'active' : '' %>" href="/production" target="_blank">
            <i class="glyphicon glyphicon-th"></i> 产品体系
        </a>
    </li>
    <li class="menu-item col-lg-2">
        <a class="menu-link <%- active === 'resource' ? 'active' : '' %>" href="/resource" target="_blank">
            <i class="glyphicon glyphicon-map-marker"></i> 基地资源
        </a>
    </li>
    <li class="menu-item col-lg-2">
        <a class="menu-link <%- active === 'case' ? 'active' : '' %>" href="/case" target="_blank">
            <i class="glyphicon glyphicon-plane"></i> 服务案例
        </a>
    </li>
    <li class="menu-item col-lg-2">
        <a class="menu-link <%- active === 'about' ? 'active' : '' %>" href="/about" target="_blank">
            <i class="glyphicon glyphicon-info-sign"></i> 关于我们
        </a>
    </li>
</ul>