<ul class="nav-menu col-sm-12">
    <li class="menu-item col-sm-2">
        <a class="menu-link <%- active === 'home' ? 'active' : '' %>" href="/" target="_blank">首页</a>
    </li>
    <li class="menu-item col-sm-2">
        <a class="menu-link <%- active === 'prodution' ? 'active' : '' %>" href="/prodution" target="_blank">产品体系</a>
    </li>
    <li class="menu-item col-sm-2">
        <a class="menu-link <%- active === 'resource' ? 'active' : '' %>" href="/resource" target="_blank">基地资源</a>
    </li>
    <li class="menu-item col-sm-2">
        <a class="menu-link <%- active === 'case' ? 'active' : '' %>" href="/case" target="_blank">服务案例</a>
    </li>
    <li class="menu-item col-sm-2">
        <a class="menu-link <%- active === 'about' ? 'active' : '' %>" href="/about" target="_blank">关于我们</a>
    </li>
</ul>